<div class="row">
  <div class="col-sm-12">
    <button
      *ngIf="!buttonPressed && isGrid; else newNote"
      type="button"
      class="btn btn-primary"
      (click)="onCreateNote()">Create New Note</button>
  </div>
</div>
<div
  class="row row-cols-4"
  *ngIf="isGrid && !buttonPressed; else detail">
  <div
    class="col-md-3 col-sm-12"
    *ngFor="let note of notes; let i = index">
    <app-note-item
      [note]="note"
      [(isGrid)]="isGrid"></app-note-item>
  </div>
</div>
<ng-template #newNote>
  <router-outlet
    *ngIf="buttonPressed"></router-outlet>
</ng-template>
<ng-template #detail>
  <router-outlet
    *ngIf="!buttonPressed"></router-outlet>
</ng-template>
